# Terraform state files
*.tfstate
*.tfstate.*
 
# Terraform crash log files
crash.log
 
# Terraform plan files
*.tfplan
 
# Terraform provider override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
 
# Terraform variables files
*.tfvars
 
# .terraform directory
.terraform/
 
# Sensitive data
**/terraform-key.json
 
# Logging and debug output
*.log
 
# Local-only variables
.local.*
 
# Other ignore files
*.backup
*.bak
*.swp
*.temp
